<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<section style='font-family: Montserrat, Arial; padding: 50px;'>
<section class='container' style='box-shadow: 0px 10px 20px 5px grey;border-radius: 10px;'>
	<section class='header' style='
		background: #fafafa;
		padding: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;'>
		<h1 style='text-align: center'>
			<img src='https://serving.photos.photobox.com/12830075276a39e71373a5d941a9628264ded84494b0d11ded9cf7a2e0f18d33a999cb54.jpg' height=100>
		</h1>
	</section>
	<section style='padding: 50px; background: #fff'>
		Hello {{user_name}},<br/><br/>
		Greetings from urbankiddie. Thank you for registering with our services. You can click the link below
		to verify your email.
		<br/><br/>
		<p class='verification-code' style='text-align: center;'>
			<span style='padding: 10px;color: #2e6cba;border-radius: 5px;background: #f0f0f0'>
				<code><a style='text-decoration: none; color: #383838;' location="_", href='{{verification_code}}'>Verify Email</a></code></span>
			<br/><br/>
		</p>
	<b style='color: red;font-size: 12px'>Please do not share this code with anyone. Use this code to authenticate your account and if you face any issues please reach out to the friendly urbankiddie team via the help page in settings.</b>		
		<br/><br/>
		Regards,<br/>
		<b>Team urbankiddie</b><br/><br/>
	</section>
	<section class='footer' style='
		background: #2e6cba;
		padding: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		color: #fff;
		text-align: center;'>
		<p>
			&copy;2018
		</p>
	</section>
</section>
</section>